# 1. Amostragens

In [32]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

In [4]:
enem_sp = pd.read_csv(r"C:\Users\herna\OneDrive\Análise de Dados com Python\Estatística Descritiva\enem_2019_tratado.csv", sep=',', encoding='iso-8859-1')

In [5]:
enem_sp.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"1,90E+11",Santa Isabel,22,M,1,parda,1,1,não_respondeu,NaN,...,600.2,Inglês,1.0,160.0,200.0,180.0,200.0,200.0,940.0,Sim
1,"1,90E+11",São Paulo,17,F,1,parda,1,2,privada,15567761.0,...,731.8,Inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,Não
2,"1,90E+11",São Bernardo do Campo,19,M,1,parda,1,2,pública,35904958.0,...,393.2,Espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,Sim
3,"1,90E+11",Embu-Guaçu,17,F,1,parda,1,2,pública,NaN,...,419.2,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
4,"1,90E+11",Guarulhos,23,F,1,branca,1,1,não_respondeu,NaN,...,796.1,Inglês,1.0,160.0,200.0,180.0,180.0,160.0,880.0,Sim

In [6]:
# selecionando dados da cidade de campinas

enem_campinas = enem_sp[enem_sp['NO_MUNICIPIO_RESIDENCIA']=='Campinas']

In [7]:
enem_campinas.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
15,"1,90E+11",Campinas,17,F,1,branca,1,1,não_respondeu,NaN,...,496.5,Inglês,1.0,160.0,120.0,140.0,140.0,120.0,680.0,Sim
31,"1,90E+11",Campinas,19,F,1,parda,1,1,não_respondeu,NaN,...,73.1,Inglês,1.0,140.0,120.0,160.0,140.0,160.0,720.0,Sim
51,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,NaN,...,417.5,Inglês,1.0,160.0,140.0,160.0,120.0,160.0,740.0,Sim
116,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,26078562.0,...,480.5,Espanhol,1.0,120.0,60.0,60.0,100.0,0.0,340.0,Sim
169,"1,90E+11",Campinas,17,M,1,branca,1,2,privada,NaN,...,624.4,Inglês,1.0,140.0,120.0,140.0,160.0,160.0,720.0,Sim

# 2. Amostragem aleatória simples

In [8]:
np.random.seed(1)

In [9]:
amos_simples = enem_campinas.sample(frac=0.20) # porcentagem
amos_simples

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
327999,"1,90E+11",Campinas,20,M,1,preta,1,1,não_respondeu,NaN,...,459.6,Inglês,1.0,180.0,200.0,180.0,200.0,200.0,960.0,Sim
235222,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,35018296.0,...,48.8,Inglês,1.0,160.0,180.0,160.0,140.0,140.0,780.0,Sim
134221,"1,90E+11",Campinas,18,F,1,parda,1,2,pública,NaN,...,429.9,Inglês,1.0,100.0,120.0,100.0,80.0,100.0,500.0,Sim
358407,"1,90E+11",Campinas,25,M,0,parda,1,1,não_respondeu,NaN,...,687.4,Espanhol,1.0,140.0,120.0,120.0,140.0,140.0,660.0,Não
173364,"1,90E+11",Campinas,18,M,1,parda,1,1,não_respondeu,NaN,...,617.9,Inglês,1.0,140.0,120.0,140.0,140.0,80.0,620.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452747,"1,90E+11",Campinas,45,F,1,branca,1,1,não_respondeu,NaN,...,373.5,Espanhol,1.0,80.0,80.0,80.0,80.0,80.0,400.0,Sim
362918,"1,90E+11",Campinas,19,M,1,preta,1,1,não_respondeu,NaN,...,450.7,Inglês,1.0,120.0,40.0,40.0,120.0,0.0,320.0,Sim
221397,"1,90E+11",Campinas,19,F,1,branca,1,1,não_respondeu,NaN,...,524.8,Espanhol,1.0,120.0,120.0,120.0,120.0,100.0,580.0,Sim
76628,"1,90E+11",Campinas,17,M,0,branca,1,2,pública,35018797.0,...,649.7,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
126402,"1,90E+11",Campinas,17,F,1,parda,1,2,pública,35039901.0,...,376.6,Espanhol,1.0,120.0,160.0,140.0,120.0,140.0,680.0,Sim

# 3. Amostragem sistemática

In [10]:
enem_campinas.shape

(13198, 28)

In [11]:
np.random.seed(2)

In [12]:
inicio=np.random.choice(10,1)

In [13]:
amostra2 = np.arange(inicio, 13198,100) # amostragem de 100 em 100

In [14]:
amos_sistematica = enem_campinas.iloc[amostra2,:]
amos_sistematica

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
401,"1,90E+11",Campinas,18,F,1,branca,1,1,não_respondeu,NaN,...,68.6,Inglês,1.0,160.0,160.0,180.0,160.0,200.0,860.0,Sim
5079,"1,90E+11",Campinas,18,F,1,branca,1,2,pública,35018855.0,...,419.9,Inglês,1.0,140.0,120.0,120.0,120.0,140.0,640.0,Sim
9218,"1,90E+11",Campinas,19,F,1,branca,1,1,não_respondeu,NaN,...,617.1,Inglês,1.0,120.0,120.0,120.0,120.0,120.0,600.0,Sim
13685,"1,90E+11",Campinas,20,M,1,parda,1,1,não_respondeu,NaN,...,576.4,Inglês,1.0,160.0,200.0,180.0,200.0,180.0,920.0,Sim
18239,"1,90E+11",Campinas,20,M,1,branca,1,1,não_respondeu,NaN,...,796.2,Inglês,1.0,160.0,200.0,200.0,200.0,200.0,960.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481894,"1,90E+11",Campinas,34,M,1,parda,1,1,não_respondeu,NaN,...,932.1,Inglês,1.0,140.0,120.0,160.0,160.0,160.0,740.0,Sim
485805,"1,90E+11",Campinas,16,F,1,branca,1,2,pública,35039901.0,...,441.6,Inglês,1.0,120.0,120.0,100.0,120.0,0.0,460.0,Sim
488958,"1,90E+11",Campinas,19,F,1,branca,1,1,não_respondeu,NaN,...,492.9,Inglês,1.0,160.0,120.0,140.0,120.0,140.0,680.0,Sim
492626,"1,90E+11",Campinas,21,M,1,branca,1,1,não_respondeu,NaN,...,51.1,Inglês,1.0,120.0,120.0,120.0,100.0,0.0,460.0,Sim
496410,"1,90E+11",Campinas,19,M,1,preta,1,1,não_respondeu,NaN,...,404.4,Inglês,1.0,100.0,80.0,80.0,80.0,40.0,380.0,Sim

# 4. Amostragem estratificada

In [15]:
enem_campinas['RACA'].value_counts()

branca           7507
parda            3652
preta            1510
amarela           279
nao_declarado     205
indígena           45
Name: RACA, dtype: int64

Extraindo uma amostra de cada grupo

In [25]:
branca = enem_campinas.loc[enem_campinas['RACA']=='branca'].sample(frac=0.15)
branca.shape

(1126, 28)

In [26]:
parda = enem_campinas.loc[enem_campinas['RACA']=='parda'].sample(frac=0.15)
parda.shape

(548, 28)

In [27]:
preta = enem_campinas.loc[enem_campinas['RACA']=='preta'].sample(frac=0.15)
preta.shape

(226, 28)

In [28]:
amarela = enem_campinas.loc[enem_campinas['RACA']=='amarela'].sample(frac=0.15)
amarela.shape

(42, 28)

In [29]:
nd = enem_campinas.loc[enem_campinas['RACA']=='nao_declarado'].sample(frac=0.15)
nd.shape

(31, 28)

In [30]:
indigena = enem_campinas.loc[enem_campinas['RACA']=='indígena'].sample(frac=0.15)
indigena.shape

(7, 28)

In [31]:
amos_estra = pd.concat([branca, parda, preta, amarela, nd, indigena])
amos_estra.shape

(1980, 28)

## Grandes quantidades de grupo

In [34]:
X_treino, X_teste, y_treino, amos_estra = train_test_split(enem_campinas.drop('RACA', axis=1), enem_campinas['RACA'], stratify=enem_campinas['RACA'], test_size=0.20)

In [35]:
amos_estra.shape

(2640,)

In [36]:
amos_estra.value_counts()

branca           1502
parda             730
preta             302
amarela            56
nao_declarado      41
indígena            9
Name: RACA, dtype: int64

In [37]:
amos_estra = amos_estra.index

In [38]:
amos_estra_campinas = enem_campinas.loc[amos_estra,:]
amos_estra_campinas

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
307892,"1,90E+11",Campinas,18,F,1,parda,1,1,não_respondeu,NaN,...,761.6,Inglês,1.0,140.0,200.0,200.0,180.0,160.0,880.0,Sim
428780,"1,90E+11",Campinas,20,F,1,branca,1,1,não_respondeu,NaN,...,759.7,Inglês,1.0,140.0,120.0,140.0,180.0,180.0,760.0,Sim
226533,"1,90E+11",Campinas,17,F,1,parda,1,2,pública,NaN,...,365.3,Inglês,1.0,120.0,120.0,100.0,120.0,80.0,540.0,Sim
228274,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,35018200.0,...,457.8,Inglês,1.0,120.0,120.0,120.0,120.0,60.0,540.0,Sim
252548,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,35018570.0,...,524.8,Inglês,1.0,120.0,140.0,100.0,160.0,100.0,620.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95183,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,35018569.0,...,546.2,Inglês,1.0,140.0,120.0,140.0,180.0,140.0,720.0,Sim
364506,"1,90E+11",Campinas,24,F,1,branca,1,1,não_respondeu,NaN,...,443.1,Espanhol,1.0,100.0,120.0,120.0,100.0,100.0,540.0,Sim
232885,"1,90E+11",Campinas,18,M,1,parda,1,2,pública,35018363.0,...,670.9,Inglês,1.0,140.0,120.0,140.0,140.0,80.0,620.0,Sim
320944,"1,90E+11",Campinas,19,M,1,branca,1,2,privada,35004269.0,...,614.3,Inglês,1.0,140.0,120.0,160.0,160.0,160.0,740.0,Sim
186421,"1,90E+11",Campinas,17,F,1,parda,1,2,pública,35046176.0,...,523.2,Inglês,1.0,120.0,80.0,120.0,120.0,40.0,480.0,Sim

# 5. Amostragem por conglomerado

In [40]:
escolas_publicas = enem_campinas.loc[enem_campinas['ESCOLA']=='pública']
escolas_publicas.shape

(4175, 28)

In [43]:
amostras = escolas_publicas['CO_ESCOLA'].value_counts()
amostras

35045937.0    152
35018363.0    134
35018797.0    124
35018879.0    110
35018326.0    109
             ...
35126846.0      1
35112252.0      1
26078562.0      1
35039834.0      1
35016559.0      1
Name: CO_ESCOLA, Length: 186, dtype: int64

In [44]:
amostras.index

Float64Index([35045937.0, 35018363.0, 35018797.0, 35018879.0, 35018326.0,
              35047200.0, 35901097.0, 35045949.0, 35018235.0, 35018302.0,
              ...
              35045962.0, 35112773.0, 35924672.0, 35042523.0, 35018181.0,
              35126846.0, 35112252.0, 26078562.0, 35039834.0, 35016559.0],
             dtype='float64', length=186)

In [45]:
amostragem = np.random.choice(a=[0,1], size=186, replace=True, p=[0.85, 0.15])
amostragem

array([1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0])

In [46]:
amos_conglomerado = amostras.loc[amostragem==1]
amos_conglomerado

35045937.0    152
35045949.0     84
35039901.0     50
35905471.0     35
35812900.0     26
35907376.0     19
35914897.0     19
35018247.0     19
35040873.0     15
35018788.0     14
35018818.0     13
35065626.0     13
35901131.0     13
35035932.0     12
35042626.0      9
35980122.0      6
35450820.0      4
35123080.0      4
35112641.0      3
35159943.0      1
35337833.0      1
35009751.0      1
35017700.0      1
35047053.0      1
35058836.0      1
26078562.0      1
35039834.0      1
Name: CO_ESCOLA, dtype: int64

In [47]:
amos_conglomerado.index

Float64Index([35045937.0, 35045949.0, 35039901.0, 35905471.0, 35812900.0,
              35907376.0, 35914897.0, 35018247.0, 35040873.0, 35018788.0,
              35018818.0, 35065626.0, 35901131.0, 35035932.0, 35042626.0,
              35980122.0, 35450820.0, 35123080.0, 35112641.0, 35159943.0,
              35337833.0, 35009751.0, 35017700.0, 35047053.0, 35058836.0,
              26078562.0, 35039834.0],
             dtype='float64')

In [48]:
amos_conglomerado = escolas_publicas.loc[escolas_publicas['CO_ESCOLA'].isin([35045937.0, 35045949.0, 35039901.0, 35905471.0, 35812900.0,
              35907376.0, 35914897.0, 35018247.0, 35040873.0, 35018788.0,
              35018818.0, 35065626.0, 35901131.0, 35035932.0, 35042626.0,
              35980122.0, 35450820.0, 35123080.0, 35112641.0, 35159943.0,
              35337833.0, 35009751.0, 35017700.0, 35047053.0, 35058836.0,
              26078562.0, 35039834.0])]

In [49]:
amos_conglomerado

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
116,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,26078562.0,...,480.5,Espanhol,1.0,120.0,60.0,60.0,100.0,0.0,340.0,Sim
325,"1,90E+11",Campinas,17,M,1,parda,1,2,pública,35907376.0,...,509.3,Inglês,1.0,80.0,120.0,100.0,100.0,80.0,480.0,Sim
1267,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,35045937.0,...,781.2,Inglês,1.0,140.0,160.0,160.0,200.0,180.0,840.0,Sim
2066,"1,90E+11",Campinas,17,F,1,parda,1,2,pública,35905471.0,...,598.8,Inglês,1.0,160.0,200.0,200.0,200.0,180.0,940.0,Sim
3336,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,35039901.0,...,670.8,Inglês,1.0,140.0,200.0,160.0,200.0,200.0,900.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494488,"1,90E+11",Campinas,18,M,1,parda,1,2,pública,35045949.0,...,694.7,Inglês,1.0,160.0,200.0,160.0,160.0,160.0,840.0,Sim
496390,"1,90E+11",Campinas,17,F,1,preta,1,2,pública,35812900.0,...,514.4,Espanhol,1.0,120.0,120.0,140.0,120.0,160.0,660.0,Sim
497743,"1,90E+11",Campinas,18,F,1,branca,1,2,pública,35045937.0,...,663.9,Inglês,4.0,0.0,0.0,0.0,0.0,0.0,0.0,Sim
498619,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,35045937.0,...,450.9,Inglês,1.0,160.0,120.0,140.0,120.0,100.0,640.0,Sim
499026,"1,90E+11",Campinas,17,M,2,parda,1,2,pública,35905471.0,...,388.9,Inglês,1.0,100.0,60.0,60.0,100.0,0.0,320.0,Sim