# 1. Probabilidade

In [1]:
import pandas as pd
import numpy as np

In [2]:
enem_sp = pd.read_csv(r'C:\Users\054150\OneDrive - Construtora Barbosa Mello SA\enem_2019_tratado.csv', sep=',', encoding='iso-8859-1')

In [3]:
enem_guarulhos = enem_sp.loc[enem_sp['NO_MUNICIPIO_RESIDENCIA']=='Guarulhos']

In [4]:
enem_bauru = enem_sp.loc[enem_sp['NO_MUNICIPIO_RESIDENCIA']=='Bauru']

In [6]:
enem_guarulhos.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
4,"1,90E+11",Guarulhos,23,F,1,branca,1,1,não_respondeu,NaN,...,796.1,Inglês,1.0,160.0,200.0,180.0,180.0,160.0,880.0,Sim
56,"1,90E+11",Guarulhos,17,F,1,parda,1,2,pública,NaN,...,468.1,Espanhol,1.0,100.0,60.0,60.0,100.0,0.0,320.0,Sim
69,"1,90E+11",Guarulhos,27,M,1,nao_declarado,1,1,não_respondeu,NaN,...,743.8,Inglês,1.0,120.0,180.0,120.0,120.0,160.0,700.0,Sim
130,"1,90E+11",Guarulhos,28,F,1,branca,1,1,não_respondeu,NaN,...,415.1,Inglês,1.0,160.0,120.0,160.0,120.0,100.0,660.0,Sim
202,"1,90E+11",Guarulhos,17,F,1,parda,1,2,pública,35005824.0,...,594.9,Inglês,1.0,120.0,120.0,120.0,120.0,160.0,640.0,Sim

In [7]:
enem_bauru.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
477,"1,90E+11",Bauru,21,M,1,branca,1,1,não_respondeu,NaN,...,664.1,Inglês,1.0,100.0,120.0,120.0,120.0,100.0,560.0,Sim
928,"1,90E+11",Bauru,17,M,1,amarela,1,2,pública,35025240.0,...,740.3,Inglês,1.0,140.0,120.0,120.0,140.0,100.0,620.0,Sim
1070,"1,90E+11",Bauru,19,M,1,branca,1,1,não_respondeu,NaN,...,789.2,Inglês,1.0,160.0,200.0,200.0,200.0,200.0,960.0,Sim
1235,"1,90E+11",Bauru,18,F,1,parda,1,2,privada,35115435.0,...,71.5,Inglês,1.0,140.0,140.0,140.0,140.0,120.0,680.0,Sim
1506,"1,90E+11",Bauru,19,M,1,branca,1,1,não_respondeu,NaN,...,533.8,Espanhol,1.0,120.0,140.0,120.0,100.0,140.0,620.0,Sim

In [8]:
len(enem_guarulhos)

15647

In [9]:
len(enem_bauru)

4171

In [10]:
len(enem_sp)

499940

#### Criando a função de probabilidade

In [12]:
def probab (A, E):
    resultado = (A / E)*100
    print('{:.2f}'.format(resultado))

#### Probabilidade de retirar um vestibulando de Guarulhos

In [13]:
probab(len(enem_guarulhos), len(enem_sp))

3.13

#### Probabilidade de retirar um vestibulando de Bauru

In [14]:
probab(len(enem_bauru), len(enem_sp))

0.83

## 2. Probabilidade de não ocorrer um evento

#### Criando a função

In [15]:
def probab_nao (A, E):
    resultado = (1-(A / E))*100
    print('{:.2f}'.format(resultado))

#### Probabilidade de não retirar um vestibulando de Guarulhos

In [16]:
probab_nao(len(enem_guarulhos), len(enem_sp))

96.87

#### Probabilidade de não retirar um vestibulando de Bauru

In [17]:
probab_nao(len(enem_bauru), len(enem_sp))

99.17

#### Probabilidade de não retirar um vestibulando nem de Guarulhos nem de Bauru

In [19]:
probab_nao(len(enem_guarulhos)+len(enem_bauru),len(enem_sp))

96.04

## 3. Probabilidade da união mutuamente exclusivos (AUB)

#### Criando a função

In [20]:
def probab_uniao (A,B,E):
    resultado = ((A/E)+(B/E))*100
    print('{:.2f}'.format(resultado))

#### Probabilidade de retirar um vestibulando de Guarulhos ou de Bauru

In [21]:
probab_uniao(len(enem_bauru),len(enem_bauru),len(enem_sp))

1.67

## 4. Probabilidade da intersecção de dois eventos

#### Criando a função

In [22]:
def probab_inter(A,B,E):
    resultado = ((A/E)*(B/E))*100
    print('{:.2f}'.format(resultado))

#### Probabilidade de retirar um vestibulando de Guarulhos e de Bauru (com reposição)

In [23]:
probab_inter(len(enem_bauru),len(enem_bauru),len(enem_sp))

0.01

## 5. Probabilidade condicional

#### Criando a função

In [30]:
def probab_cond(AB, B):
    resultado = (AB/B)*100
    print('{:.2f}'.format(resultado))

#### Probabilidade de retirar uma mulher parda

In [25]:
mulher = enem_sp.loc[enem_sp['SEXO']=='F']

In [26]:
mulher_parda = mulher.loc[mulher['RACA']=='parda']

In [27]:
mulher.shape

(290122, 28)

In [28]:
mulher_parda.shape

(89254, 28)

In [31]:
probab_cond(len(mulher_parda),len(mulher))

30.76