# 1. Medidas de centralidade

In [1]:
import pandas as pd
import numpy as np

In [2]:
enem_sp = pd.read_csv(r"C:\Users\054150\OneDrive - Construtora Barbosa Mello SA\enem_2019_tratado.csv",sep=',', encoding='iso-8859-1')

# 2. MÃ©dia

In [3]:
enem_sp['IDADE'].mean()

20.593387206464776

In [5]:
enem_sp['NOTA_REDACAO'].mean()

593.0183221986639

In [7]:
enem_sp['NOTA_CN'].mean()

449.9170004400505

In [8]:
enem_sp['NOTA_MT'].mean()

497.5942403088341

In [9]:
enem_sp['NOTA_CH'].mean()

482.22805396649204

In [10]:
enem_sp['NOTA_LC'].mean()

491.9412621514665

# 3. Mediana

In [13]:
enem_sp['IDADE'].median()

18.0

In [14]:
enem_sp['NOTA_REDACAO'].median()

600.0

In [16]:
enem_sp['NOTA_CN'].median()

478.1

In [17]:
enem_sp['NOTA_MT'].median()

511.8

In [18]:
enem_sp['NOTA_CH'].median()

523.7

In [19]:
enem_sp['NOTA_LC'].median()

538.3

In [20]:
enem_sp.describe()

,IDADE,TP_ESTADO_CIVIL,TP_NACIONALIDADE,TP_ST_CONCLUSAO,CO_ESCOLA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO
count,499940.000000,499940.000000,499940.000000,499940.000000,1.768940e+05,499940.0,499940.0,499940.0,499940.0,499940.000000,499940.000000,499940.000000,499940.000000,499940.000000,499940.000000,499940.000000,499940.000000,499940.000000,499940.000000,499940.000000
mean,20.593387,1.053206,1.029902,1.476085,3.521138e+07,1.0,1.0,1.0,1.0,449.917000,482.228054,491.941262,497.594240,1.072105,125.000760,127.066808,118.760691,124.989359,97.200704,593.018322
std,6.465291,0.380866,0.230986,0.510351,4.430392e+05,0.0,0.0,0.0,0.0,152.982255,161.122963,156.247134,183.465175,0.584314,28.629513,39.846083,36.778882,33.879299,57.787427,170.536724
min,12.000000,0.000000,0.000000,1.000000,1.100306e+07,1.0,1.0,1.0,1.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,17.000000,1.000000,1.000000,1.000000,3.501625e+07,1.0,1.0,1.0,1.0,412.400000,450.600000,490.100000,427.900000,1.000000,120.000000,120.000000,100.000000,120.000000,60.000000,500.000000
50%,18.000000,1.000000,1.000000,1.000000,3.504496e+07,1.0,1.0,1.0,1.0,478.100000,523.700000,538.300000,511.800000,1.000000,120.000000,120.000000,120.000000,120.000000,100.000000,600.000000
75%,21.000000,1.000000,1.000000,2.000000,3.529070e+07,1.0,1.0,1.0,1.0,544.400000,578.100000,576.200000,617.900000,1.000000,140.000000,140.000000,140.000000,140.000000,140.000000,680.000000
max,91.000000,4.000000,4.000000,4.000000,5.300104e+07,1.0,1.0,1.0,1.0,860.900000,822.700000,772.300000,984.700000,9.000000,200.000000,200.000000,200.000000,200.000000,200.000000,1000.000000

# 4. Moda

In [23]:
enem_sp['IDADE'].mode()

0    17
dtype: int64

In [24]:
enem_sp['NOTA_REDACAO'].mode()

0    600.0
dtype: float64

In [25]:
enem_sp['NOTA_MT'].mode()

0    433.8
dtype: float64

In [26]:
enem_sp['NOTA_CN'].mode()

0    481.8
dtype: float64

In [27]:
enem_sp['NOTA_CH'].mode()

0    0.0
dtype: float64

In [28]:
enem_sp['NOTA_LC'].mode()

0    55.2
dtype: float64